<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/main.css" type="text/css">
    <link rel="stylesheet" href="~/Content/main-mobile.css" type="text/css">
    <link rel="stylesheet" href="~/Content/shop.css" type="text/css">
    <link rel="stylesheet" href="~/Content/about.css" type="text/css">
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="header">
        <div class="content">
            <div class="box-menu-mobile">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <nav class="box-menu">
                <ul class="all-list-menu">
                    <li>
                        <a href="" class="hover-a" style="font-weight: bold">TRANG CHỦ</a>
                    </li>
                    <li class="padding-list-menu">
                        <a href="" class="hover-a" style="font-weight: bold">SẢN PHẨM</a>
                        <a href="">
                            <i class="fa-solid fa-angle-down angle-down"></i>
                        </a>
                    </li>
                    <li class="padding-list-menu">
                        <a href="" class="hover-a" style="font-weight: bold">THÔNG TIN</a>
                    </li>
                </ul>
            </nav>
            <div class="box-logo">
                <div class="logo">
                    <a href="index.html">
                        <img src="~/Images/Screenshot 2024-11-03 153608.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="box-icon">
                <div class="box-search" style="display: flex; align-items: center; width: 300px; height: 50px; padding: 10px; border: 1px solid #ccc; border-radius: 25px;">
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Search" style="flex: 1; height: 100%; padding: 10px; font-size: 16px;">
                    <button style="border: none; background: transparent; cursor: pointer; height: 100%;">
                        <i class="fa-solid fa-magnifying-glass" style="font-size: 20px;"></i>
                    </button>
                </div>

                <div class="box-heart" style="margin-left: 80px; margin-top: 15px">
                    <a href="">
                        <i class="fa-regular fa-heart heart"></i>
                    </a>
                </div>

                <div class="box-user" style="margin-top: 15px">
                    <a href="">
                        <i class="fa-regular fa-user user"></i>
                    </a>
                </div>

                <div class="box-cart" style="margin-top: 15px">
                    <a href="">
                        <i class="fa-solid fa-cart-shopping cart"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Phần main -->
    @RenderBody()
    <!-- Kết thúc main -->
    <!-- Phần footer -->
    <div class="footer">

    </div>
    <div class="box-first-footer">
        <div class="contact">
            <h2>GIỚI THIỆU</h2>
            <div class="in">
                <div>Chi nhánh 1: 140 Lê Trọng Tấn,Quận Tân Phú,Tp HCM</div>
                <div>Chi nhánh 2: 239 Đồng Khởi, Bến Nghé, Quận 1, TpHCM</div>
                <div>SDT:0833999999 || 0868686869</div>
                <div>Email:Luxuxycar24@gmail.com</div>
            </div>
        </div>
        <!-- <div class="contact">
            <h2>CATEGOIRES</h2>
            <div class="in">
                <a href="">
                    <div>Furniture</div>
                </a>
                <a href="">
                    <div>Tables</div>
                </a>
                <a href="">
                    <div>Seating</div>
                </a>
                <a href="">
                    <div>Desks & office </div>
                </a>
                <a href="">
                    <div>Storage</div>
                </a>
                <a href="">
                    <div>Bed & Bath</div>
                </a>
            </div>
        </div> -->
        <div class="contact">
            <h2>DỊCH VỤ</h2>
            <div class="in">
                <a href="">
                    <div>Nhận đặt hàng</div>
                </a>
                <a href="">
                    <div>Vận chuyển</div>
                </a>
                <a href="">
                    <div>Bảo trì || Bảo hành</div>
                </a>
                <a href="">
                    <div>Bảo hiểm</div>
                </a>

            </div>
        </div>
        <div class="contact">
            <h2>ĐĂNG KÝ</h2>
            <div class="in">
                <div style="margin-bottom: 25px;">
                    Nhập email của bạn vào bên dưới dể là
                    <br>
                    người đầu tiên biết về các bộ sưu tập và ra mắt xe mới
                </div>
                <div class="box-email">
                    <input type="text" placeholder="Email adress...">
                    <button type="submit">
                        <i class="fa-solid fa-envelope"></i>
                    </button>
                </div>
                <div class="icon-contact">
                    <ul>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-behance"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box-second-footer">
        <div class="first-box">
            <div class="title">
                Copyright © 2022. All Right Reserved
            </div>
        </div>
        <!-- <div class="second-box">
             <div class="box-bank">
                <img src="Picture/payments-1.jpg" alt="">
            </div>
        </div> -->
    </div>
    <!-- <div style="margin-bottom: -100px;"></div> -->

    <script src="https://kit.fontawesome.com/eda05fcf5c.js" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>
